<section class="about section">
  <div class="inner">
    <h3><b>About Me</b></h3>

    <p>My official title has been some variation of Software Engineer for about 6 months as of this writing, but I still
       self-identify as a System Administrator when asked. Make of that what you will.</p>

      <p>What I make of it is that I am a person who is driven to design maintainable, scalable, and useful systems
         that solve real problems for my users. My goal is always to write as little code as possible.</p>
      </div>
</section>
