<section class="history section">
  <div class="inner">
    <h3><b>Professional History</b></h3>
    <div class="job-list">

      <div class="job">
        <p class="title"><b>Software Engineer II</b> - Cimpress (Aug 2014 - Present)</p>
        <div class="description">
          <ul class="list-unstyled">
            <li>Creating, implementing, and maintaining the software and hardware infrastructure to support a growing and diverse service oriented architecture.</li>
            <li>Enabling internal teams to deliver better software by providing development infrastructure, continuous integration/delivery tools, and logging/monitoring tools.</li>
            <li><b>Technologies</b>: C#, Ruby, SQL, Nginx, Sensu, Logstash, Puppet, Linux.</li>
            </ul>
        </div>
      </div>

      <div class="job">
        <p class="title"><b>Lead Systems Administrator</b> - Vistaprint (Oct 2010 - Aug 2014)</p>
        <div class="description">
          <ul class="list-unstyled">
            <li>Monitoring the health of and providing support for Vistaprint's globally-distributed production infrastructure.</li>
            <li>Creating, implementing, and maintaining tools, automation, and applications to support infrastructure and other internal teams.</li>
            <li><b>Technologies</b>: C#, SQL, IIS, SCOM, Nagios, PowerShell, Windows.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
