<section class="projects section">
  <div class="inner">
    <h3><b>Recent Projects</b></h3>

    <div class="project">
      <p class="project-title"><a href="http://dashiell.io/">Dashiell</a></p>
      <div class="project-image"></div>
      <div class="project-description">
        <p>Dashiell is a a C++ application that wraps OSQuery and CFacter in websockets to make system state of a fleet of servers
           queryable at any time from a web browser.</p>
        <p>The nodejs web server that brokers the websockets connection provides a simple UI for executing queries and browsing results.</p>
        <p>Unfortunately, this project is currently dead. I have been unable to get it compiling recently due to changes in the OSQuery project.</p>
      </div>
    </div>

    <div class="project">
      <p class="project-title"><a href="https://github.com/maclennann/rake-terraform">rake-terraform</a></p>
      <div class="project-image"></div>
      <div class="project-description">
        <p>rake-terraform is a ruby gem that provides custom rake tasks for using Hashicorp Terraform.</p>
        <p>I have been using terraform often in projects both personal and work-related.</p>
        <p>Building these rake tasks has allowed me to much more completely combine Terraform-related activities into the development, build, and
           test pipeline.</p>
      </div>
    </div>

    <div class="project">
      <p class="project-title"><a href="https://github.com/maclennann/hubot-chartroom">hubot-chartroom</a></p>
      <div class="project-image"></div>
      <div class="project-description">
        <p>hubot-chartroom is an npm module that provides a custom script for a hubot.</p>
        <p>I wrote this module to fetch graphs from our internal Graphite server and upload them directly to our hipchat instance.</p>
        <p>This way, users in the chatroom can easily view the graphs if they are remote and unable to access our internal graphite.</p>
      </div>
    </div>

  </div>
</section>
