<section class="skills section">
  <div class="inner">
    <h3><b>Skills</b></h3>
    <p>I'm pretty heavily diversified between Operations and Development skills. Here's a smattering of stuff I've been heavily invested in recently.</p>
    <hr/>
    <div class="skill-list">

      <div class="item">
        <h4 class="skill-label">Linux Administration <span class="bar-label">Professional</span></h4>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
          </div>
        </div>
      </div>

      <div class="item">
        <h4 class="skill-label">C#/.NET <span class="bar-label">Expert</span></h4>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
          </div>
        </div>
      </div>

      <div class="item">
        <h4 class="skill-label">Ruby <span class="bar-label">Intermediate</span></h4>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
          </div>
        </div>
      </div>

      <div class="item">
        <h4 class="skill-label">Puppet <span class="bar-label">Professional</span></h4>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          </div>
        </div>
      </div>

      <div class="item">
        <h4 class="skill-label">Javascript <span class="bar-label">Professional</span></h4>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
