<header>
  <div class="container">
    <picture>
      <source type="image/webp" srcset="images/me.webp" />
      <img src="images/me.png" height="200px" class="profile-image img-responsive pull-left"/>
    </picture>
    <p class="pull-right dark-link"><a href="https://github.com/maclennann/normmaclennan.com">View on GitHub <i class="fa fa-github"></i></a></p>
    <h1>Hi, I'm Norm.</h1>
    <p class="lead">I computer, usually.</p>
    <p><ul class="social list-inline">
      <li><a href="https://github.com/maclennann" class="transition"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="https://twitter.com/nromdotcom" class="transition"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/pub/norm-maclennan/58/a59/653" class="transition"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://blog.normmaclennan.com" class="transition"><i class="fa fa-bold"></i></a></li>
    </ul></p>
  </div>
</header>
